/* Navbar.css */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 15px 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #333; /* 设置背景颜色 */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace; /* 设置字体样式 */
    font-weight: bold;
    text-transform: uppercase; /* 大写字母 */
    letter-spacing: 2px; /* 字母间距 */
    transition: color 0.3s ease;
}